<launch>
  <!--include file="$(find realsense2_camera)/launch/rs_rgbd.launch"/ -->
  <!-- node name="tmpinit" pkg="dockerlauncher" type="init_dt_temp.sh" output="screen" args="$(find dockerlauncher)"/ -->
  <include ns="cosmos" file="$(find dockerlauncher)/launch/dockerlaunchersplit.launch" >
    <arg name="dnamespace" value="cosmos" />
    <arg name="dtunnelport" value="19996" />
    <arg name="duser" value="fbklein" />
    <arg name="userpass" value="---define own password here ---"/>
  </include>


</launch>
